#containerPOP {
  width: 80%;
  height: 350px;
  margin: auto;
  display: flex;
  overflow-x: scroll;
  position: relative;
  z-index: 0;
}
#containerPOP::-webkit-scrollbar {
  visibility: hidden;
}
#parent {
  margin: 0px 10px;
  min-width: 21%;
  max-height: 170px;
  position: relative;
  z-index: 10;
  transition: 2s;
  /* transition-delay: linear 5s; */
}
VIDEO {
  width: 98%;
}
#parent > div {
  height: 32px;
  overflow: hidden;
}
.videoBoxes {
  max-width: 100%;
  min-height: 155px;
}
#parent p {
  margin: 5px;
  padding: 5px;
}
.top-picks-heading {
  width: 78%;
  margin: 10px auto;
  font-size: 25px;
  display: grid;
  grid-template-columns: 13% 78% 4% 4%;
  text-align: left;
}
.marg-lef-pop {
  margin-bottom: 10px;
}
.btn-Slider {
  width: 40px;
  padding: 6px 12px;
  border-radius: 25px;
  font-weight: bold;
  font-size: 20px;
  float: right;
}
