/*  */

body {
    margin: 0px;
    background-color: rgb(255, 254, 254);
}

.hover {
    cursor: pointer;
}
#option a{
    text-decoration: none;
    color:#808280;
}
#option a:hover{
    color: black;
}
#option a:focus{
    color: #006097;
}

#header-su {
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    position: fixed;
    overflow: hidden;
    top: 0;
    padding-top: .35%;
    margin-bottom: 50px;
}

.search-Bar-su {
    margin-top: 4px;
    width: 20%;
    height: 30px;
    display: flex;
    border: 1px solid gray;
    overflow: hidden;
}

.search-image-su {
    width: 10%;
    height: 100%;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaOSs5m7gPqTHQ9MKxJCk1lAa67MgYNxsdEg&usqp=CAU")
}

.search-image-su img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.search-input-su {
    width: 90%;
}

.search-Bar-su input {
    height: 90%;
    width: 98%;
    border: none;
    font-size: 15px;
    background-color: #ECEFF1;
}

.search-Bar-su input:focus {
    background-color: #ffffff;
}

.header-buttons-su {
    width: 35%;
    height: 45px;
    margin-left: 10%;
    overflow: hidden;
}

#navBox {
    width: 100%;
    height: 7%;
}

#navigation {
    width: 100%;
    margin: 0px;
    position: relative;
}

#navigation span {
    width: 10%;
    color: white;
    font-size: 25px;
    text-align: center;
    float: right;
}

#navigation a:hover {
    color: black;
}

#navigation a {
    color: rgb(187, 184, 184);
}

#navigation i {
    color: rgb(95, 93, 93);
}

#navigation a {
    float: right;
    color: #A4A4A4;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
}

.first-bar {
    width: 100%;
    height: 50px;
}

.second-bar {
    width: 100%;
    height: 40px;
    background-color: #f3f6f8;
}

.right-side-su {
    width: 40%;
    height: 100%;
    border: 1px solid #f3f6f8;
    margin-left: 56.4%;
}

.bar-container {
    width: 90%;
    margin: auto;
    height: 50%;
    margin-top: 5px;
    display: flex;
}

#trial {
    width: 46%;
}

#trial:hover {
    background-color: rgb(241, 238, 238);
}

.bar-container a {
    text-decoration: none;
    color: gray;
    margin-left: 3%;
}

.bar-container div {
    margin-left: 3%;
}

.bar-container a:hover {
    color: black;
    text-decoration: underline;
}

hr {
    margin: 0px;
}

.inside-header-su {
    height: 80%;
    display: flex;
}

.linkedin-logo-su {
    background-color: #1976D2;
    color: white;
    width: 30px;
    margin-top: 5px;
    max-height: 30px;
    border-radius: 3px;
    margin-left: 13%;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.browse-su {
    width: 5%;
    height: 40px;
    margin-left: 2%;
    color: #74716d;
}

.size-su {
    font-size: 14px;
}

.browse-su:hover {
    color: black;
    cursor: pointer;
}

.dotted:after {
    content: ' \22EE';
    margin: 0px;
    margin-left: 150%;
}

.lined:after {
    content: ' \2261';
    margin-left: 80%;
}

.lined {
    margin: 0px;
}

.content-su h3 {
    margin: 0px;
    margin-top: 3px;
}

.content-su {
    margin: 0px;
    margin-left: 2%;
    display: flex;
}

.content-su h2 {
    margin: 0px;
    margin-top: 0px;
}

#footer-su {
    width: 100%;
    height: 150px;
    background-color: white;
    overflow: hidden;
    border-top: 0.5px solid rgb(200, 196, 196);
}

.footer-first-su {
    width: 65%;
    height: 50px;
    margin: auto;
    padding-top: 30px;
}

.footer-second-su {
    width: 20%;
    height: 50px;
    margin: 0px auto;
}

.footer-content-su {
    width: 100%;
    height: 20px;
    margin: auto;
    display: flex;
    flex-grow: 1;
    color: rgba(0, 0, 0, .9);
    overflow: hidden;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.footer-content-su div {
    margin: auto;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, .9);
}

.footer-content-su div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.blue-su:hover {
    color: blue;
}

.arrow-su {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.arrow-su-fill {
    width: 0;
    margin-left: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgb(0, 0, 0)
}

.up-su {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down-su {
    transform: rotate(-310deg);
    -webkit-transform: rotate(-310deg);
}

.down-sus {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
}

.flex-sus {
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
.footer-second-su h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.linkedin-logo-sus {
    background-color: #1976D2;
    color: white;
    width: 20px;
    margin-top: 18px;
    max-height: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.simpler-su {
    margin-top: 20px;
    margin-left: 15px;
}

.left-su {
    margin: auto;
}

#home {
    font-size: 18px;
    color: rgb(182, 182, 182);
}

.left-sus {
    margin-left: 2%;
}

.learning-su {
    vertical-align: middle;
    font-size: 16px;
    padding-top: 13px;
    margin-left: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

/*  */

#main-container {
    /* margin: 0% 20% 0% 20%; */
    display: flex;
}

#option {
    margin: 190px 0px 0px 250px;
}

.opsn-item {
    color: rgb(114, 112, 112);
}

.opsn-item:hover {
    cursor: pointer;
    color: rgb(78, 78, 78);
}

#topic-content {
    margin-left: 20%
}

#topic-section {
    margin-top: 100px;
    margin-right: 20%;
    border-bottom: 0.3px solid grey;
}

h4 {
    display: flex;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.active {
    color: #1976D2;
    border-left:2px solid #1976D2;
    
}

.active:hover {
    color: #1976D2;
}

#heading {
    font-size: 20px;
    padding-right: 65%;
    cursor: pointer;
}

h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 0.5 solid grey;
}

.top-show {
    margin-left: 0%;
}

.show {
    color: #006097;
    font-size: 17px;
    text-decoration: none;
}

.show:hover {
    text-decoration: underline;
}

#box-container {
    display: grid;
}

.box-row {
    display: flex;
    text-align: center;
}

h2 {
    font-size: 15px;
    display: inline-block;
}

h2:hover {
    text-decoration: underline;
    cursor: pointer;
    ;
}

.box {
    padding: 3%;
}

.a-data {
    color: grey;
}

.a-data:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.sft-show {
    margin-left: 55%;
}

#software, #learning {
    margin-right: 24%;
    padding: 10px;
    border-top: 0.3px solid grey;
    ;
}

.software-btn {
    margin: 5px;
    color: rgb(112, 110, 110);
    border: 0.5px solid rgb(121, 120, 120);
    font-size: 15px;
    padding: 2.5px 10px;
    border-radius: 20px;
    background: transparent;
}

.software-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(58, 57, 57);
    color: rgb(58, 57, 57)
}
