body {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    font-family: "oxygen", "sans-serif";
  
  }
  .hover {
    cursor: pointer;
  }
  #header-su {
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    padding-top: 0.35%;
    margin-bottom: 50px;
    z-index: 999;
  }
  .search-Bar-su {
    margin-top: 4px;
    width: 20%;
    height: 30px;
    display: flex;
    border: 1px solid gray;
    overflow: hidden;
  }
  .search-image-su {
    width: 10%;
    height: 100%;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaOSs5m7gPqTHQ9MKxJCk1lAa67MgYNxsdEg&usqp=CAU");
  }
  .search-image-su img {
    min-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  .search-input-su {
    width: 90%;
  }
  .search-Bar-su input {
    height: 90%;
    width: 98%;
    border: none;
    font-size: 15px;
    background-color: #eceff1;
  }
  .search-Bar-su input:focus {
    background-color: #ffffff;
  }
  /* 1st added */
  .header-buttons-su{
        width:39%;
        height:40px;
        margin-left:10%;
        display: flex;
        font-size:15px;
    }
    .header-buttons-su a{
      text-decoration: none;
      color: black;
      
    }
    .learning-head{
      width: 15%;
      height:40px;
      padding-left: 25px;
      padding-right: 15px;
    }
    /* adjusted */
      .adjust{
        padding-left: 10px;
        font-size:20px;
      }
      .adjust:hover{
        font-weight: bold;
        cursor: pointer;
      }
      .adjust2{
        font-size: 20px;
        padding-left: 25px;
      }
      .adjust3{
        font-size:20px;
      }
    /* adjusted */
    .timer-head-su{
      width:40%;
      padding-left:10%;
      padding:16px 20px;
    }
      /* dropper Starts*/
  .dropbtn {
    width:0%;
    border: none;
    cursor: pointer;
    font-size:16px;
    background-color:white;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: rgb(0, 41, 94);
    color: white;
  }

  .show {
    display: block;
  }
  /* dropper ends */
  
  
    .first-bar {
        width: 100%;
        height: 50px;
    }

    .second-bar {
        width: 100%;
        height: 40px;
        background-color: #f3f6f8;
    }
    .right-side-su{
        width:40%;
        height:100%;
        border: 1px solid #f3f6f8;
        margin-left: 56.4%;
    }
    .bar-container {
        width:90%;
        margin: auto;
        height:50%;
        margin-top: 5px;
        display: flex;
        font-size:14px;
       
    }
   
    .bar-container a{
        text-decoration: none;
        color: gray;
        margin-left: 3%;
    }


    .linkedin-logo-su {
        background-color: #1976D2;
        color: white;
        width: 30px;
        margin-top: 5px;
        max-height: 30px;
        border-radius: 3px;
        margin-left: 13%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
    }

    .browse-su {
        width: 5%;
        height: 40px;
        margin-left: 2%;
        color: #74716d;
    }
    .browse-su:hover {
        color: black;
        cursor: pointer;
    }

    .dotted:after {
        content: ' \22EE';
        margin-left: 150%;
        padding-top: 10px;
    }

    .lined:after {
        content: ' \2261';
        margin-left: 80%;
    }

    .lined {
        margin: 0px;
        font-size:x-large;
    }
    #trial:hover{
        cursor: pointer;
    }
    /* Body part starting */
    #body-container {
        width: 100%;
        height: 1000px;
        background-color:blueviolet;
    }
    .suggest-su{
        width: 100%;
        height: 320px;
        background-color:white;
        margin-top:96px;
        
    }
    /* 3rd part */


    /* Body Ended,footer starts */
    .content-su h3 {
        margin: 0px;
        margin-top: 3px;
    }

    .content-su {
        margin: 0px;
        margin-left: 2%;
        display: flex;
    }

    .content-su h2 {
        margin: 0px;
        margin-top: 0px;
    }


  #trial {
    width: 46%;
  }

  .bar-container div {
    margin-left: 3%;
  }
  .bar-container a:hover {
    color: black;
    text-decoration: underline;
  }
  hr {
    margin: 0px;
  }

  .inside-header-su {
    height: 80%;
    display: flex;
  }
  .size-su {
    font-size: 14px;
  }

  /* Body part starting */

  /* Body Ended,footer starts */

  #footer-su {
    width: 100%;
    height: 150px;
    background-color: white;
    overflow: hidden;
  }

  .footer-first-su {
    width: 65%;
    height: 50px;
    margin: auto;
    padding-top: 30px;
  }

  .footer-second-su {
    width: 20%;
    height: 50px;
    margin: 0px auto;
  }

  .footer-content-su {
    width: 100%;
    height: 20px;
    margin: auto;
    display: flex;
    flex-grow: 1;
    color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
  }

  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

  .footer-content-su div {
    margin: auto;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.9);
  }

  .footer-content-su div:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .blue-su:hover {
    color: blue;
  }

  .arrow-su {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .arrow-su-fill {
    width: 0;
    margin-left: 5px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid rgb(0, 0, 0);
  }

  .up-su {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }

  .down-su {
    transform: rotate(-310deg);
    -webkit-transform: rotate(-310deg);
  }

  .down-sus {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }

  .flex-sus {
    display: flex;
  }

  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

  .footer-second-su h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }

  .linkedin-logo-sus {
    background-color: #1976d2;
    color: white;
    width: 20px;
    margin-top: 18px;
    max-height: 20px;
    border-radius: 3px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }

  .simpler-su {
    margin-top: 20px;
    margin-left: 15px;
  }

  .left-su {
    margin: auto;
  }

  .left-sus {
    margin-left: 2%;
  }
  .learning-su {
    vertical-align: middle;
    font-size: 16px;
    padding-top: 13px;
    margin-left: 5px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 2px;
  }

/*  */

body {
    margin: 0px;
    background-color: rgb(255, 254, 254);
}



#main-container {
    /* margin: 0% 20% 0% 20%; */
    display: flex;
}

#option {
    margin: 190px 0px 0px 250px;
}

.opsn-item {
    color: rgb(114, 112, 112);
}

.opsn-item:hover {
    cursor: pointer;
    color: rgb(78, 78, 78);
}

#topic-content {
    margin-left: 20%
}

#topic-section {
    margin-top: 100px;
    margin-right: 20%;
    border-bottom: 0.3px solid grey;
}

h4 {
    display: flex;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.active {
    color: #1976D2;
    border-left:2px solid #1976D2;
    
}

.active:hover {
    color: #1976D2;
}

#heading {
    font-size: 20px;
    padding-right: 65%;
    cursor: pointer;
}

h1 {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    border-bottom: 0.5 solid grey;
}

.top-show {
    margin-left: 0%;
}

.show {
    color: #006097;
    font-size: 17px;
    text-decoration: none;
}

.show:hover {
    text-decoration: underline;
}

#box-container {
    display: grid;
}

.box-row {
    display: flex;
    text-align: center;
}

h2 {
    font-size: 15px;
    display: inline-block;
}

h2:hover {
    text-decoration: underline;
    cursor: pointer;
    ;
}

.box {
    padding: 3%;
}

.a-data {
    color: grey;
}

.a-data:hover {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.sft-show {
    margin-left: 55%;
}

#software, #learning {
    margin-right: 24%;
    padding: 10px;
    border-top: 0.3px solid grey;
    ;
}

.software-btn {
    margin: 5px;
    color: rgb(112, 110, 110);
    border: 0.5px solid rgb(121, 120, 120);
    font-size: 15px;
    padding: 2.5px 10px;
    border-radius: 20px;
    background: transparent;
}

.software-btn:hover {
    cursor: pointer;
    border: 2px solid rgb(58, 57, 57);
    color: rgb(58, 57, 57)
}
