body {
  height: 100%;
  margin: 0px;
  font-family: "oxygen", "sans-serif";
}
.navigation {
  height: 2.5vw;
  width: 100%;
  top: 0;
  font-size: 2vw;
  position: fixed;
  overflow: hidden;
  background-color: white;
  display: flex;
  padding-left: 13vw;
  padding-top: 0.5vw;
  box-shadow: 0.1vw 0.1vw rgb(138, 130, 130);
}
.linkedin-logo-su {
  background-color: #1976d2;
  color: white;
  width: 30px;
  max-height: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bold;
}
.learning-su {
  font-size: 1vw;
  padding-top: 0.5vw;
  padding-left: 0.4vw;
  letter-spacing: 0.1vw;
  font-weight: bold;
}
.container {
  background-color: #fdfaf5;
  padding-top: 4vw;
  height: 30vw;
}
.hover:hover {
  cursor: pointer;
}
.trial {
  font-size: 1.5vw;
  padding-left: 20vw;
  color: #7f7b7b;
  letter-spacing: 0.1vw;
}
.paymentBox {
  display: flex;
  width: 42vw;
  margin: auto;
  height: 17vw;
  justify-content: space-evenly;
}
.annually {
  width: 48%;
  height: 17vw;
  text-align: center;
  background-color: white;
  overflow: hidden;
}
.firstAnn {
  padding-top: 2.5vw;
  font-size: 1.5vw;
}
.secondAnn {
  padding-top: 1.2vw;
  color: #76767d;
  font-size: 0.9vw;
}
.thirdAnn {
  padding-top: 0.2vw;
  color: #76767d;
  font-size: 0.9vw;
}
.monthly {
  width: 48%;
  height: 17vw;
  text-align: center;
  background-color: white;
  overflow: hidden;
}
button {
  background-color: #0b66c3;
  color: white;
  margin-top: 20px;
  font-size: 1.5em;
  padding: 0.8vw 3vw;
  border: none;
  overflow: hidden;
}
.satisfier {
  color: #76767d;
  font-size: 0.9vw;
  padding: 2vw 0vw;
  text-align: center;
}
.iconStuff {
  width: 60vw;
  height: 26vw;
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  overflow: hidden;
}
.leftIcons {
  width: 48%;
  height: 25vw;
}
.firstIcon {
  display: flex;
  height: 6vw;
  margin: 1vw;
}
.realIcon {
  width: 20%;
  height: 4vw;
  padding: 0vw 0vw;
}
.firstIcon span {
  padding-left: 0.5vw;
}
.adjust {
  font-size: 4vw;
  padding: 0.5vw;
}
.adjust1 {
  padding: 0.5vw;
  font-size: 3.5vw;
}
.secondContent {
  padding-top: 0.5vw;
  padding-left: 0.5vw;
  color: #76767d;
  font-size: 0.9vw;
}
.iconFooter {
  padding: 1vw 0vw;
  width: 22vw;
  font-size: 1.3vw;
  border-bottom: 1px solid black;
  background-color: white;
  display: flex;
  margin: auto;
}
.footerColor {
  color: #6c65b8;
}
.frequently {
  width: 100%;
  padding: 1vw 0vw;
  text-align: center;
  font-size: 1.3vw;
  background-color: #f9fafc;
}
.faq {
  width: 76%;
  margin: auto;
  height: 22vw;
  display: flex;
  justify-content: space-evenly;
}
.faqLeft {
  width: 48%;
  height: 22vw;
  font-size: 1vw;
}
.paddTop {
  padding: 0.8vw 0vw;
}
.paddTop2 {
  padding-top: 1.5vw;
}
.flex2 {
  padding-top: 0vw;
  color: #76767d;
  font-size: 0.9vw;
}
.flex {
  padding-top: 0.8vw;
  color: #76767d;
  font-size: 0.9vw;
}
.flex span:hover {
  cursor: pointer;
  text-decoration: underline;
}
.linkedin-logo-sus {
  background-color: #76767d;
  color: white;
  width: 18px;
  padding-top: 1px;
  max-height: 18px;
  border-radius: 3px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.flex-right {
  display: flex;
  padding-left: 46vw;
}
.footerLast {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 10px 0px;
  font-size: 12px;
  justify-content: space-between;
}
