body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.footer-content-su div {
    margin: auto;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: rgba(0, 0, 0, .9);
} */

.initial-loading {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.initial-loading__linkedin-image {
    height: 48px;
    margin: 0 auto;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .5s ease-out;
    width: 48px;
}

.initial-loading__logo {
    border-radius: 5px;
}

.initial-loading__animation {
    transform: scale(1);
    transition: transform .5s ease;
    width: 200px;
}

.initial-loading__bar {
    background-color: #CFCFCF;
    border-radius: 2px;
    height: 2px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
    transform: rotateY(0);
    transition: transform .3s ease-in;
    width: 130px;
    z-index: 1;
}

.initial-loading__blue-bar {
    -webkit-animation: initial-loading 1.5s infinite ease;
    animation: initial-loading 1.5s infinite ease;
    background-color: #0073B1;
    border-radius: 2px;
    height: 100%;
    position: absolute;
    transform: translate(-34px, 0);
    width: 68px;
}

.nav-bar__item.active:after {
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.li-icon svg[data-supported-dps="24x24"] {
    width: 2.4rem;
    height: 2.4rem;
}

.li-icon>svg {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

.nav-bar__item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2px;
}

li-icon[type$="-icon"]>svg {
    vertical-align: top;
}

@-webkit-keyframes initial-loading {
    0% {
        -webkit-transform: translate(-34px, 0);
    }
    50% {
        -webkit-transform: translate(96px, 0);
    }
    100% {
        -webkit-transform: translate(-34px, 0);
    }
}

@keyframes initial-loading {
    0% {
        transform: translate(-34px, 0);
    }
    50% {
        transform: translate(96px, 0);
    }
    100% {
        transform: translate(-34px, 0);
    }
}

.initial-loading {
    align-items: center;
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.initial-loading__animation {
    transform: scale(1);
    transition: transform .5s ease;
    width: 200px;
}

li-icon[type=linkedin-bug][size='48dp'] {
    width: 4.8rem;
    height: 4.8rem;
}

li-icon[type=linkedin-bug][size='48dp'] {
    width: 4.8rem;
    height: 4.8rem;
}

li-icon {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.initial-loading__linkedin-image {
    height: 48px;
    margin: 0 auto;
    opacity: 1;
    transform: translate(0, 0);
    transition: all .5s ease-out;
    width: 48px;
}

.boot-complete .app-boot-bg-skeleton, .ember-application .app-boot-bg-skeleton {
    display: none;
}

.init-body__header {
    position: sticky;
    z-index: 2000;
    width: 100%;
    top: 0;
    left: 0;
}

.a11y-bar {
    width: 100%;
    height: 56px;
    position: fixed;
    top: -56px;
    z-index: 2001;
    opacity: 0;
    background-color: #f3f6f8;
}

.nav-bar {
    height: 52px;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.a11y-bar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 1208px) {
    .container {
        width: calc(100vw - 20px);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

.a11y-bar__actions-primary {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 12px;
}

.a11y-bar__jump-actions {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.artdeco-dropdown {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

.nav__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
}

@media (max-width: 976px) {
    .container {
        padding: 0 18px;
    }
}

@media (max-width: 1208px) {
    .container {
        width: calc(100vw - 20px);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
}

body, p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, .9);
}

.global-nav__brand {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

div {
    display: block;
}

.global-nav__content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.nav-bar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-bar__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.nav-bar__item-section:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}

nav ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

section>:last-child {
    padding-right: 0;
}

.nav-bar__search-bar {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
}

li {
    list-style-type: none;
}

.nav-bar__item {
    position: relative;
    padding: 0 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background: 0 0;
    border: 0;
}

.t-12 {
    font-size: 1.2rem;
    line-height: 1.33333;
}

.t-normal {
    font-weight: 400;
}

.t-black--light {
    color: rgba(0, 0, 0, .6);
}

button, input, select, textarea {
    font-family: inherit;
}

button {
    cursor: pointer;
    margin-bottom: 0;
}

button {
    appearance: auto;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

.nav-bar__item li-icon {
    color: rgba(0, 0, 0, .6);
}

.li-icon {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.nav-bar__item:after {
    content: '';
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform 167ms ease-in-out;
    transition: -webkit-transform 167ms ease-in-out;
    transition: transform 167ms ease-in-out;
    transition: transform 167ms ease-in-out, -webkit-transform 167ms ease-in-out;
}

nav-bar__item-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-bar__item-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bar__item.active, .nav-bar__item:focus, .nav-bar__item:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
}

bar__item.active li-icon, .nav-bar__item:focus li-icon, .nav-bar__item:hover li-icon {
    color: rgba(0, 0, 0, .9);
}

.li-icon {
    display: inline-block;
    overflow: hidden;
    position: relative;
}

a {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    color: #0073b1;
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0;
}

li {
    list-style-type: none;
}

icon[type$="-icon"]>svg {
    vertical-align: top;
}

li-icon svg[data-supported-dps="24x24"] {
    width: 2.4rem;
    height: 2.4rem;
}

li-icon[type$="-icon"]>svg {
    vertical-align: top;
}

li-icon>svg {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

li-icon>svg {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
}

svg {
    fill: currentcolor;
    width: 24;
    height: 24;
}

user agent stylesheet svg:not(:root) {
    overflow: hidden;
}

.nav-bar__item.active li-icon, .nav-bar__item:focus li-icon, .nav-bar__item:hover li-icon {
    color: rgba(0, 0, 0, .9);
}

.nav-bar__item-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2px;
}

.nav-bar__item.active:after {
    position: absolute;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background-color: rgba(0, 0, 0, .9);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.artdeco-dropdown {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-bar__dropdown-content {
    width: 264px;
    z-index: 2001;
    max-height: inherit;
}

html body {
    height: 100%;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.nav-bar__item-section>:last-child {
    padding-right: 0;
}

.artdeco-button--muted.artdeco-button--tertiary {
    background-color: transparent;
    color: rgba(0, 0, 0, .6);
}

.container::after {
    content: '';
    display: table;
    clear: both;
}

.secondary-nav-bar {
    -webkit-box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
    box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
    -webkit-transition: -webkit-box-shadow 83ms;
    transition: -webkit-box-shadow 83ms;
    transition: box-shadow 83ms;
    transition: box-shadow 83ms, -webkit-box-shadow 83ms;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
    background-color: #f3f6f8;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@media (max-width: 1208px) .secondary-nav-bar__nav-items {
    width: calc(100vw - 20px);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.secondary-nav-bar__nav-items {
    width: 1128px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    padding: 0 30px;
    display: block;
    margin: auto;
    position: relative;
    padding: 8px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.t-14 {
    font-size: 1.4rem;
    line-height: 1.42857;
}

.t-black--light {
    color: rgba(0, 0, 0, .6);
}

nav ul {
    list-style: none;
}

.secondary-nav-bar__nav-item:first-child {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    text-align: right;
}

.secondary-nav-bar__nav-item {
    padding: 0 8px;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

abbr, audio, b, body, canvas, caption, cite, code, del, dfn, em, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, mark, object, q, samp, small, span, strong, summary, tbody, td, tfoot, th, thead, time, tr, var, video {
    outline: 0;
}

.secondary-nav-bar__link {
    text-decoration: none;
    font-weight: 600;
    background-color: transparent;
    border: 0;
    color: #0073b1;
    font-size: inherit;
    color: rgba(0, 0, 0, .6);
}

.secondary-nav-bar__nav-item:last-child::before {
    content: '';
    display: inline-block;
    width: 0;
    height: 17px;
    margin: 0 18px -4px 0;
    border-left: 1px solid rgba(0, 0, 0, .2);
}