body {
  font-family: "oxygen", "sans-serif";
}
header {
  position: fixed;
  top: 0;
  display: flex;
  background-color: rgb(72, 93, 105);
  width: 100%;
  height: 40px;
}
.sh-logo:hover {
  cursor: pointer;
}
main {
  height: 700px;
  color: rgb(126, 121, 113);
}
section.content {
  margin-top: 50px;
  color: white;
}
.sh-top-bar {
  background-color: rgb(83, 75, 75);
  height: 40px;
  width: 100%;
  display: flex;
  font-family: sans-serif;

  justify-content: right;
  align-items: center;
}
.sh-top-bar > div {
  width: 90%;

  margin-top: 5px;
  text-align: right;
  margin-bottom: 10px;
}
a {
  width: 100px;
}
.sh-top-bar a {
  color: white;
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
nav {
  height: 60px;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(250, 249, 249);
}

.sh-second-nav {
  width: 40%;
  font-size: 15px;
  text-align: right;
  font-family: sans-serif;
}
a {
  text-decoration: none;

  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  color: rgb(79, 158, 201);
}
.sh-second-nav a::before {
  content: "";
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  position: absolute;
}
.sh-second-nav a:hover::before {
  width: 100%;
  background-color: rgb(11, 134, 191);
  height: 2px;
}
.contact-info {
  display: flex;
  align-items: center;
  border: 1px solid rgb(79, 158, 201);
  height: 27px;
  width: 55%;
  margin-right: 20px;
  margin-top: 5px;
}
.contact-info p {
  margin: auto;
  font-family: sans-serif;
  font-size: 14px;
}
a {
  width: 25%;
}
.divider {
  border-left: 0.3px solid rgb(163, 135, 129);
  height: 27px;
  margin-right: 10px;
}
.horizontal-divider {
  border-top: 3px solid rgb(11, 134, 191);
  width: 100%;
}

#sh-main-div {
  width: 100%;
  height: 100px;
}
.third-div {
  height: 40px;
  width: 18%;
  align-items: center;
  color: rgb(79, 158, 201);
}

.sh-hover-me {
  font-size: 90%;
}

.light-div {
  width: 100%;
  height: 130px;
  background-color: rgb(231, 238, 245);
  display: flex;
  justify-content: end;
  overflow: hidden;
}
.div1-cont {
  height: 110px;
  width: 95%;
  display: flex;
  justify-content: right;
}
.div1-cont p {
  margin-top: 80px;
  margin-left: 200px;
  margin-right: 0px;
  font-size: 18px;
  font-family: sans-serif;
}

.img {
  height: 450px;
  width: 100%;
  display: flex;
  background-image: url("https://content.linkedin.com/content/dam/me/author-training/amp-test-images/jan/lls-solutions-pages-gov/bg/01-dsk-b-v02.jpg/jcr:content/renditions/01-dsk-b-v02-2x.jpg");
  background-repeat: no-repeat;
  background-position-x: 44%;
  background-size: cover;
}
.first {
  width: 50%;
}
.img-div {
  width: 80%;
  color: rgba(0, 0, 0, 0.85);
  height: 150px;
  font-size: 40px;
  line-height: 50px;
  margin-left: 90px;
  margin-top: 80px;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.strik {
  width: 100%;
  height: 20px;
}
.strik div {
  background-color: rgb(11, 134, 191);
  height: 3px;
  width: 100px;
  margin-left: 90px;
  margin-top: 35px;
}
.below-strik {
  height: 50px;
  width: 70%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 22px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 90px;
  text-align: left;
  line-height: 30px;
}
.btn-sh {
  height: 100px;
  width: 50%;

  margin-left: 90px;
  margin-top: 10px;
}
.btn-sh button {
  background-color: #0073b1;
  color: white;
  width: 150px;
  height: 40px;
  margin-left: 0px;
  font-size: 16px;
  border-radius: 5px;
  border-style: none;
  margin-top: 20px;
}

.contact-info:hover {
  background-color: rgb(229, 229, 245);
  border: 2px solid #08608f;
}

.employee-bar {
  width: 100%;
  background-color: rgb(0, 65, 131);
  height: 170px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.employee-bar a {
  font-size: 20px;
  color: white;
  text-align: center;
  margin-right: 40px;
}
.employee-bar div {
  height: 150px;
  border-left: 2px solid white;
  margin-right: 40px;
  margin-left: 30px;
}
.empty {
  height: 30px;
  width: 100px;
}
h4 {
  margin-top: 80px;
  color: rgb(11, 134, 191);
}
.sh-logo {
  padding-left: 3px;
  width: 30%;
  height: 50px;
  margin-top: 30px;

  margin-left: 100px;

  display: flex;
  justify-content: left;
}
.linked {
  font-size: 20px;
  color: rgb(44, 123, 202);
  font-weight: 600;
  margin-left: 3px;
  margin-right: 2px;
  color: rgb(17, 98, 179);
  font-style: helvetica;

  height: 20px;
}
.in {
  height: 22px;
  width: 21px;
  background-color: rgb(17, 98, 179);
  font-size: 18px;
  color: white;
  margin-right: 6px;
  font-weight: bold;
  text-align: center;
  border-radius: 2px;
  font-style: helvetica;
  padding-top: 1px;
}
.lerning {
  font-size: 16px;
  color: #0000008c;
  font-weight: 400;
  font-style: helvetica;

  height: 20px;
  margin-top: 3px;
}
.hover-logo {
  width: 39%;
  height: 29px;
  display: flex;
  margin-left: 20px;
  position: relative;
}
.hover-logo:after {
  content: "";
  position: absolute;

  height: 3px;
  width: 100%;
  left: 0;
  bottom: -1px;
}
.hover-logo:hover:after {
  width: 100%;
  background-color: rgb(17, 98, 179);
  border-radius: 2px;
}
