body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  font-family: "oxygen", "sans-serif";
}
.hover {
  cursor: pointer;
}
#header-su {
  background-color: #ffffff;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  padding-top: 0.35%;
  margin-bottom: 50px;
  z-index: 999;
  border: 2px solid black;
}
.search-Bar-su {
  margin-top: 4px;
  width: 20%;
  height: 30px;
  display: flex;
  border: 1px solid gray;
  overflow: hidden;
  border: 2px solid black;
}

.search-image-su {
  width: 10%;
  height: 100%;
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaOSs5m7gPqTHQ9MKxJCk1lAa67MgYNxsdEg&usqp=CAU");
}
.search-image-su img {
  min-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.search-input-su {
  width: 90%;
}
.search-Bar-su input {
  height: 90%;
  width: 98%;
  border: none;
  font-size: 15px;
  background-color: #eceff1;
}
.search-Bar-su input:focus {
  background-color: #ffffff;
}
/* 1st added */
.header-buttons-su {
  width: 39%;
  height: 40px;
  margin-left: 10%;
  display: flex;
  font-size: 15px;
}
.header-buttons-su a {
  text-decoration: none;
  color: black;
}
.learning-head {
  width: 15%;
  height: 40px;
  padding-left: 25px;
  padding-right: 15px;
}
/* adjusted */
.adjust {
  padding-left: 10px;
  font-size: 20px;
}
.adjust:hover {
  font-weight: bold;
  cursor: pointer;
}
.adjust2 {
  font-size: 20px;
  padding-left: 25px;
}
.adjust3 {
  font-size: 20px;
}
/* adjusted */
.timer-head-su {
  width: 40%;
  padding-left: 10%;
  padding: 16px 20px;
}
/* dropper Starts*/
.dropbtn {
  width: 0%;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(0, 41, 94);
  color: white;
}

.show {
  display: block;
}
/* dropper ends */

.first-bar {
  width: 100%;
  height: 50px;
}

.second-bar {
  width: 100%;
  height: 40px;
  background-color: #f3f6f8;
}
.right-side-su {
  width: 40%;
  height: 100%;
  border: 1px solid #f3f6f8;
  margin-left: 56.4%;
}
.bar-container {
  width: 90%;
  margin: auto;
  height: 50%;
  margin-top: 5px;
  display: flex;
  font-size: 14px;
}

.bar-container a {
  text-decoration: none;
  color: gray;
  margin-left: 3%;
}

.linkedin-logo-su {
  background-color: #1976d2;
  color: white;
  width: 30px;
  margin-top: 5px;
  max-height: 30px;
  border-radius: 3px;
  margin-left: 13%;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.browse-su {
  width: 5%;
  height: 40px;
  margin-left: 2%;
  color: #74716d;
}
.browse-su:hover {
  color: black;
  cursor: pointer;
}

.dotted:after {
  content: " \22EE";
  margin: 0px;
  margin-left: 150%;
}

.lined:after {
  content: " \2261";
  margin-left: 80%;
}

.lined {
  margin: 0px;
}
#trial:hover {
  cursor: pointer;
}
/* Body part starting */

.suggest-su {
  width: 100%;
  height: 320px;
  background-color: white;
  margin-top: 96px;
}
/* 3rd part */
.suggest-su {
  background-image: url("https://static-exp1.licdn.com/sc/h/cch95u9n3wpbme2zzh5n4uwg0");
  background-repeat: no-repeat;
  background-size: 700px 700px;
  background-position: 125% 60%;
}
.head-cont-su {
  width: 50%;
  margin-left: 13%;
  height: 100%;
}
.skillGrow-su {
  padding-top: 5%;
  letter-spacing: 1px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 27px;
}
.million-su {
  padding-top: 3%;
  letter-spacing: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}
.pad-top-su {
  padding-top: 3%;
}
#trial-main-su {
  padding: 15px 20px;
  font-size: large;
  border: none;
  background-color: #0073b1;
  color: white;
  letter-spacing: 1px;
}
#trial-main-su:hover {
  background-color: #0d47a1;
}
.train {
  padding-top: 3%;
  color: #0073b1;
  font-family: "Open Sans", sans-serif;
}

/* -Video Functions */
.slider-below {
  width: 80%;
  margin: auto;
  border: 1px solid black;
  border-radius:20px;
  height:350px;
  padding-left:20px;
  padding-top: 30px;
  background: url("https://static-exp1.licdn.com/sc/h/481y3uauqxjpkzptlys9ijtio");
  background-repeat: no-repeat;
  background-size: 300px 300px;
  background-position: 90% 70%;
}
.round{
    padding:2px 7px;
    border-radius:100%;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 16px;
    border: 2px solid black;
    justify-content: center;
}
.slider-below1{
  width: 60%;
  height: 250px;
  display: flex;
  justify-content: space-evenly;
}
.half{
  width: 48%;
  padding-top: 10px;
  height:220px;
}
.half div{
  border: 1px solid rgb(112, 109, 109);
  border-radius:20px;
  font-size: 20px;
  height: 50px;
  margin-bottom: 50px;
  line-height: 50px;
}



/* Body Ended,footer starts */
.content-su h3 {
  margin: 0px;
  margin-top: 3px;
}

.content-su {
  margin: 0px;
  margin-left: 2%;
  display: flex;
}

.content-su h2 {
  margin: 0px;
  margin-top: 0px;
}

#trial {
  width: 46%;
}

.bar-container div {
  margin-left: 3%;
}
.bar-container a:hover {
  color: black;
  text-decoration: underline;
}
hr {
  margin: 0px;
}

.inside-header-su {
  height: 80%;
  display: flex;
}
.size-su {
  font-size: 14px;
}

/* Body part starting */

/* Body Ended,footer starts */

#footer-su {
  width: 100%;
  height: 150px;
  background-color: white;
  overflow: hidden;
}

.footer-first-su {
  width: 65%;
  height: 50px;
  margin: auto;
  padding-top: 30px;
}

.footer-second-su {
  width: 20%;
  height: 50px;
  margin: 0px auto;
}

.footer-content-su {
  width: 100%;
  height: 20px;
  margin: auto;
  display: flex;
  flex-grow: 1;
  color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

.footer-content-su div {
  margin: auto;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}

.footer-content-su div:hover {
  cursor: pointer;
  text-decoration: underline;
}

.blue-su:hover {
  color: blue;
}

.arrow-su {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.arrow-su-fill {
  width: 0;
  margin-left: 5px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(0, 0, 0);
}

.up-su {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down-su {
  transform: rotate(-310deg);
  -webkit-transform: rotate(-310deg);
}

.down-sus {
  transform: rotate(-360deg);
  -webkit-transform: rotate(-360deg);
}

.flex-sus {
  display: flex;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

.footer-second-su h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}

.linkedin-logo-sus {
  background-color: #1976d2;
  color: white;
  width: 20px;
  margin-top: 18px;
  max-height: 20px;
  border-radius: 3px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.simpler-su {
  margin-top: 20px;
  margin-left: 15px;
}

.left-su {
  margin: auto;
}

.left-sus {
  margin-left: 2%;
}
.learning-su {
  vertical-align: middle;
  font-size: 16px;
  padding-top: 13px;
  margin-left: 5px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}
.videoBoxSU {
  border: 5px solid green;
  position: relative;
}
